@import "./colorschemes/onedark";

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
}

/* BAR */
.bar-class {
  background-color: $bg;
  color: $fg;
  padding: 4px 8px;
}

/* BATTERY */
.battery {
  transition: all .2s ease-in;
}
// .battery.low {
//   color: $gb-dm-dark-red;
// }
// .battery.discharging {
//   color: $gb-dm-dark-yellow;
// 
// .battery.charging {
//   color: $gb-dm-dark-aqua;
// }
// .battery.full {
//   color: $gb-dm-dark-green;
// }
// .battery.low:hover {
//   color: $gb-dm-light-red;
// }
// .battery.discharging:hover {
//   color: $gb-dm-light-yellow;
// }
// .battery.charging:hover {
//   color: $gb-dm-light-aqua;
// }
// .battery.full:hover {
//   color: $gb-dm-light-green;
// }

.brightness {
  color: $fg;
  border-radius: 4px;
}
.brightness>.icon {
  padding-left: 8px;
  padding-right: 5px;
}
.brightness>.info {
  border-radius: 0 8px 8px 0;
  padding-left: 5px;
  padding-right: 8px;
}

.danger {
  color: $red;
}

.info {
  color: $red;
}

